<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.halkamalka.ever.eve.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.halkamalka.ever.eve.Perspective"
            id="com.halkamalka.ever.Eve.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.halkamalka.ever.eve.views.BrowserViewPart"
            id="com.halkamalka.ever.eve.views.BrowserViewPart"
            name="Browser">
      </view>
      <view
            class="com.halkamalka.ever.eve.views.CategoryViewPart"
            id="com.halkamalka.ever.eve.views.CategoryViewPart"
            name="Analysis"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.halkamalka.ever.eve.views.CategoryViewPart"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.halkamalka.ever.eve.views.BrowserViewPart"
               minimized="false"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               mnemonic="F">
            <command
                  commandId="com.halkamalka.ever.Eve.commands.openFileCommand"
                  label="Open...">
            </command>
            <separator
                  name="com.halkamalka.ever.Eve.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.halkamalka.ever.Eve.commands.connectCommand"
                  label="Connect"
                  style="push">
            </command>
            <command
                  commandId="com.halkamalka.ever.Eve.commands.disconnectCommand"
                  label="Disconnect"
                  style="push">
            </command>
            <separator
                  name="com.halkamalka.ever.Eve.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="com.halkamalka.ever.Eve.commands.updateDBCommand"
                  label="Update Database"
                  style="push">
            </command>
            <command
                  commandId="com.halkamalka.ever.Eve.commands.listProductCommand"
                  label="List Products"
                  style="push">
            </command>
            <separator
                  name="com.halkamalka.ever.Eve.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Window">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
            <separator
                  name="com.halkamalka.ever.Eve.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.halkamalka.ever.Eve.commands.update"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.halkamalka.ever.Eve.toolbars.sampleToolbar">
            <command
                  commandId="com.halkamalka.ever.Eve.commands.openFileCommand"
                  icon="icons/sample.gif"
                  id="com.halkamalka.ever.Eve.toolbars.openCommand"
                  style="push">
            </command>
            <command
                  commandId="com.halkamalka.ever.Eve.commands.updateDBCommand"
                  icon="icons/sample.gif"
                  id="com.halkamalka.ever.Eve.toolbars.updateDBCommand"
                  style="push">
            </command>
            <command
                  commandId="com.halkamalka.ever.Eve.commands.connectCommand"
                  icon="icons/sample.gif"
                  id="com.halkamalka.ever.Eve.toolbars.connectCommand"
                  style="push">
            </command>
            <command
                  commandId="com.halkamalka.ever.Eve.commands.disconnectCommand"
                  icon="icons/sample.gif"
                  id="com.halkamalka.ever.Eve.toolbars.disconnectCommand"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.halkamalka.ever.Eve.commands.category"
            id="com.halkamalka.ever.Eve.commands.openFileCommand"
            name="Open...">
      </command>
      <category
            id="com.halkamalka.ever.Eve.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="com.halkamalka.ever.Eve.commands.category"
            id="com.halkamalka.ever.Eve.commands.sampleCommand"
            name="Sample Command">
      </command>
      <command
            categoryId="com.halkamalka.ever.Eve.commands.category"
            id="com.halkamalka.ever.Eve.commands.updateDBCommand"
            name="Update DB">
      </command>
      <command
            categoryId="com.halkamalka.ever.Eve.commands.category"
            id="com.halkamalka.ever.Eve.commands.connectCommand"
            name="Connect">
      </command>
      <command
            categoryId="com.halkamalka.ever.Eve.commands.category"
            id="com.halkamalka.ever.Eve.commands.updateDBCommand"
            name="List Products">
      </command>
      <command
            categoryId="com.halkamalka.ever.Eve.commands.category"
            id="com.halkamalka.ever.Eve.commands.disconnectCommand"
            name="Disconnect">
      </command>
      <command
            id="com.halkamalka.ever.Eve.commands.update"
            name="Update">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.halkamalka.ever.eve.handlers.OpenFileHandler"
            commandId="com.halkamalka.ever.Eve.commands.openFileCommand">
      </handler>
      <handler
            class="com.halkamalka.ever.eve.handlers.SampleHandler"
            commandId="com.halkamalka.ever.Eve.commands.sampleCommand">
      </handler>
      <handler
            class="com.halkamalka.ever.eve.handlers.UpdateDBHandler"
            commandId="com.halkamalka.ever.Eve.commands.updateDBCommand">
      </handler>
      <handler
            class="com.halkamalka.ever.eve.handlers.ConnectHandler"
            commandId="com.halkamalka.ever.Eve.commands.connectCommand">
      </handler>
      <handler
            class="com.halkamalka.ever.eve.handlers.ListProductHandler"
            commandId="com.halkamalka.ever.Eve.commands.listProductCommand">
      </handler>
      <handler
            class="com.halkamalka.ever.eve.handlers.DisconnectHandler"
            commandId="com.halkamalka.ever.Eve.commands.disconnectCommand">
      </handler>
      <handler
            commandId="com.halkamalka.ever.Eve.commands.update">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.halkamalka.ever.Eve.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.halkamalka.ever.Eve.commands.openFileCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
      <key
            commandId="com.halkamalka.ever.Eve.commands.updateDBCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.halkamalka.ever.eve.preferences.EvePreferencePage"
            id="com.halkamalka.ever.eve.preferences.EvePreferencePage"
            name="Eve Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.halkamalka.ever.eve.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.halkamalka.ever.Eve.application"
            name="eve">
         <property
               name="appName"
               value="eve">
         </property>
      </product>
   </extension>

</plugin>
